.App {
    margin-left: 2em;
    margin-right: 2em;
}

.title {
    text-align: center;
}

.container { 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.button {
    margin-bottom: 1em;
    text-align: center;
}
.text{
    margin-bottom: 1em;
    text-align: center;
}